In [2]:
print('Learning Python now!')

Learning Python now!

In [3]:
print('Python is fun')

Python is fun

In [4]:
＃display two messages
print('Learning Python now!')
print('Python is fun')

SyntaxError: invalid character in identifier (<ipython-input-4-b0b19d4271e3>, line 1)

In [ ]:
print(Learning Python now!)

In [ ]:
#Convert Fahrenheit to Celsisus
print('Fahrenheit 80 is Celsius degree')
print(5/9*80-32)

In [ ]:
#Convert miles to Kilometers
print('mile 96 is Kilometer')
print(96*1.6)

In [ ]:
print(12345)

In [ ]:
print(123.456)

In [5]:
print("Learning Python now!")

Learning Python now!

In [6]:
print('Pyhton is fun')
print('Lets go')

Pyhton is fun
Lets go

In [7]:
print('Hello,')
print('world')

Hello,
world

In [8]:
print('Hello,',end='')
print('world')

Hello,world

In [9]:
print('Hello,','world')

Hello, world

In [10]:
print('Hello,',end='***')
print('world')

Hello,***world

In [11]:
print(format(100,"8d"))

     100

In [12]:
print(format(100000,'3d'))

100000

In [13]:
print(format(100,'8x'))

      64

In [14]:
print(format(100,'8o'))

     144

In [15]:
print(format(100,'8b'))

 1100100

In [16]:
print(format(0.2389,'6.2%'))

23.89%

In [17]:
print(format(123.456,'8.2f'))

  123.46

In [18]:
print(format('Python is fun','15s'))

Python is fun

In [19]:
print(format('Python is fun','>15s'))

  Python is fun

In [20]:
print(format(12345,'10d'))

     12345

In [21]:
print(format(12345,'<10d'))

12345

In [22]:
print(format(12345,'^11d'))

   12345

In [23]:
print(format(12345,'10d'))

     12345

In [24]:
print(format(12,'10d'))

        12

In [25]:
print(format(1234567,'10d'))

   1234567

In [26]:
print(format(12,'10d'))

        12

In [27]:
print(format(1234567,'10d'))

   1234567

In [28]:
print(format(12345,'10d'))

     12345

In [29]:
print(format(1234567,'10d'))

   1234567

In [30]:
print(format(12345,'10d'))

     12345

In [31]:
print(format(12,'10d'))

        12

In [32]:
print(format(12345,'10d'),end='')

     12345

In [33]:
print(format(12,'10d'),end='')

        12

In [34]:
print(format(1234567,'10d'))

   1234567

In [35]:
print(format(12,'10d'),end='')

        12

In [36]:
print(format(1234567,'10d'),end='')

   1234567

In [37]:
print(format(12345,'10d'))

     12345

In [38]:
print(format(1234567,'10d'),end='')

   1234567

In [39]:
print(format(12345,'10d'),end='')

     12345

In [40]:
print(format(12,'10d'))

        12

In [41]:
print('%10d'%(12345))

     12345

In [42]:
print('|%10d|'%(12345))

|     12345|

In [43]:
print('|%3d|'%(12345))

|12345|

In [44]:
print('|%-10d|'%(12345))

|12345     |

In [45]:
print('|%8.2f|'%(123.456))

|  123.46|

In [46]:
print('|%8.2f|'%(1.23456))

|    1.23|

In [47]:
print('|%8.2f|'%(1234.56))

| 1234.56|

In [48]:
print('|%8.2f|'%(12.3456))

|   12.35|

In [49]:
print('|%8.2f|'%(12345.6))

|12345.60|

In [50]:
print('|%.2f|'%(123.456))

|123.46|

In [51]:
print('|%.2f|'%(1.23456))

|1.23|

In [52]:
print('|%.2f|'%(1234.56))

|1234.56|

In [53]:
print('|%.2f|'%(12.3456))

|12.35|

In [54]:
print('|%.2f|'%(12345.6))

|12345.60|

In [55]:
print('|%30s|'%('Learning Python now!'))

|          Learning Python now!|

In [56]:
print('|%-30s|'%('Learning Python now!'))

|Learning Python now!          |

In [57]:
print('|%15s|'%('Learning Python now!'))

|Learning Python now!|

In [58]:
print('%10d%10d%10d'%(12345,12,1234567))

     12345        12   1234567

In [59]:
print('%10d%10d%10d'%(12,1234567,12345))

        12   1234567     12345

In [60]:
print('%10d%10d%10d'%(1234567,12345,12))

   1234567     12345        12

In [61]:
print('%d%% orange juice'%(100))

100% orange juice

In [62]:
print('{0}'.format(123))

123

In [63]:
print('{0},{1}'.format(123,12345))

123,12345

In [64]:
print('{0:5d},{1:7d}'.format(123,12345))

  123,  12345

In [65]:
print('x={0:5d},y={1:7d}'.format(123,12345))

x=  123,y=  12345

In [66]:
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))

x=  123,y=  12345

In [67]:
print('a={0:7.2f},b={1:9.2f}'.format(123.456,123.456))

a= 123.46,b=   123.46

In [68]:
print('{p:9s},{q:7s}'.format(p='Kiwi',q='Banana'))

Kiwi     ,Banana

In [69]:
print('{p:>9s},{q:>9s}'.format(p='Kiwi',q='Banana'))

     Kiwi,   Banana

In [70]:
print('{p:^9s},{q:^9s}'.format(p='Kiwi',q='Banana'))

  Kiwi   , Banana

In [71]:
a =7+8*2-6+8/2
print(a)

21.0

In [72]:
b = (7+8)*2-(6+8)/2
print(b)

23.0

In [73]:
str1 ='Learning Python '+'is fun'
print(str1)

Learning Python is fun

In [74]:
str2 = 'Learning Python '+\
'is fun'
print(str2)

Learning Python is fun

In [75]:
question1 ='is your birthday in set1?\n'+\
'1 3 5 7\n'+\
'9 11 13 15\n'+\
'17 19 21 23\n'+\
'\n Enter 1 for Yes and 0 for No:'
print(question1)

is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23

 Enter 1 for Yes and 0 for No:

In [76]:
print('Hello,world')
print('Hello,',end='')
print('world')
s ='Hello,'+\
   'world'
print(s)

Hello,world
Hello,world
Hello,world

In [77]:
8/3

2.6666666666666665

In [78]:
8//3

2

In [79]:
8**2

64

In [80]:
100**0.5

10.0

In [81]:
8%3

2

In [82]:
i = 100
j = 100
k = 100
print(i,j,k)

100 100 100

In [83]:
i = j = k = 200
print(i,j,k)

200 200 200

In [84]:
a, b=100,200
print(a,b)

100 200

In [85]:
a = 100
b = 200
temp = a
a = b
b = temp
print(a,b)

200 100

In [86]:
a = 100
b = 200
a,b = b,a
print(a,b)

200 100

In [87]:
a = 10
a += 2
print(a)

12

In [88]:
a*=5
print(a)

60

In [89]:
a//=3
print(a)

20

In [90]:
a%=6
print(a)

2

In [91]:
k=eval(input())

3

In [92]:
k

3

In [93]:
print(k)

3

In [94]:
s=eval(input('Please enter an integer:'))

Please enter an integer:45

In [95]:
s

45

In [96]:
s2=input('Please enter a string:')

Please enter a string:Hello, world

In [97]:
s2

'Hello, world'

In [98]:
print(s2)

Hello, world

In [103]:
str2=input('Please enter an integer:')

Please enter an integer:88

In [104]:
print(str2)

88

In [105]:
str2

'88'

In [113]:
num1=eval(input('Please enter number1:'))

Please enter number1:100

In [114]:
num2=eval(input('Please enter number2:'))

Please enter number2:200

In [115]:
print(num1+num2)

300

In [116]:
num1,num2=eval(input('Enter two numbers separated by comma:'))

Enter two numbers separated by comma:100,200

In [117]:
print(num1+num2)

300

In [118]:
num1,num2,num3=eval(input('Enter two numbers separated by commas:'))
total=num1+num2+num3
average=total/3
print('total=%d,and average=%f'%(total,average))

Enter two numbers separated by commas:100,150,170
total=420,and average=140.000000

In [120]:
print('total=%d,and average=%.2f'%(total,average))

total=420,and average=140.00

In [124]:
radius=eval(input('Enter the radius:'))
area=radius*radius*3.14159
perimeter=2*3.14159*radius
print('Area=%.2f'%(area))
print('Perimeter=%.2f'%(perimeter))

Enter the radius:5
Area=78.54
Perimeter=31.42

In [125]:
import math
radius=eval(input('Enter the radius:'))
area=radius*radius*math.pi
perimeter=2*math.pi*radius
print('Area=%.2f'%(area))

Enter the radius:5
Area=78.54

In [2]:
#input 3 integers then calculate total and average
num1,num2,num3=eval(input('Enter three numbers separated by commas:'))


#calculate total and average
total=num1+num2+num3
average=total/2


#display total and average
print('total=%d,and average=%.2f'%(total,average))

Enter three numbers separated by commas:11

TypeError: cannot unpack non-iterable int object

In [1]:
abs(-100)

100

In [2]:
max(12,23,100,58,60)

100

In [3]:
min(12,23,100,58,60)

12

In [4]:
pow(2,5)

32

In [6]:
round(6.6)

7

In [8]:
round(5.5)

6

In [9]:
round(4.5)

4

In [10]:
round(6.667,2)

6.67

In [11]:
round(6.663,2)

6.66

In [12]:
int(12.34)

12

In [13]:
ans=8.5*8.5*8.5*8.5*8.5+(9.5-3)*(9.5-3)+100.2
print(int(ans))

44512

In [15]:
import math
math.fabs(-12.34)

12.34

In [16]:
math.ceil(5.6)

6

In [17]:
math.floor(5.6)

5

In [18]:
math.exp(1)

2.718281828459045

In [19]:
math.log(2.71828)

0.999999327347282

In [20]:
print('%.2f'%math.log(2.71828))

1.00

In [21]:
math.log(math.e)

1.0

In [22]:
math.log(1000,10)

2.9999999999999996

In [23]:
math.sqrt(100)

10.0

In [24]:
math.sin(0)

0.0

In [25]:
math.sin(1/2*math.pi)

1.0

In [26]:
math.sin(math.pi)

1.2246467991473532e-16

In [27]:
math.sin(3/2*math.pi)

-1.0

In [28]:
math.sin(2*math.pi)

-2.4492935982947064e-16

In [29]:
math.cos(0)

1.0

In [30]:
math.cos(1/2*math.pi)

6.123233995736766e-17

In [32]:
math.cos(math.pi)

-1.0

In [33]:
math.cos(3/2*math.pi)

-1.8369701987210297e-16

In [34]:
math.cos(2*math.pi)

1.0

In [35]:
math.tan(0)

0.0

In [36]:
math.tan(5/4*math.pi)

0.9999999999999997

In [39]:
math.tan(-1/4*math.pi)

-0.9999999999999999

In [38]:
math.tan(3/4*math.pi)

-1.0000000000000002

In [40]:
math.tan(math.pi)

-1.2246467991473532e-16

In [41]:
math.tan(0)

0.0

In [42]:
math.radians(90)

1.5707963267948966

In [43]:
math.radians(180)

3.141592653589793

In [46]:
math.degrees(1/2*math.pi)

90.0

In [47]:
math.degrees(math.pi)

180.0

In [48]:
import math
side = eval(input('Enter the length of side:'))
area = (5*side*side)/(4*math.tan(math.pi/5))
print(area)

Enter the length of side:6.5
72.69017017488385

In [56]:
import math
n1,n2,n3 = eval(input('Enter threes numbers:'))
mean = (n1+n2+n3)/3
variance = (pow((n1-mean),2)+pow((n2-mean,2)+pow((n3-mean),2))/3
sd = math.sqrt(variance)
            
            
print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

SyntaxError: invalid syntax (<ipython-input-56-0d053e8ec389>, line 5)

In [57]:
str(12.3)

'12.3'

In [58]:
str(12)

'12'

In [59]:
ord('A')

65

In [60]:
ord('a')

97

In [61]:
chr(65)

'A'

In [62]:
chr(97)

'a'

In [4]:
x=65
if x>60:
    x=x+5
print('x=%d'%(x))

x=70

In [49]:
numerator = eval(input("請輸入分子："))
denominator = eval(input("請輸入分母："))
if denominator!=0:
    ans = numerator/denominator
print(numerator,"/",denominator,"=",ans)
print("Over")

請輸入分子：0
請輸入分母：1
0 / 1 = 0.0
Over

In [20]:
numerator = eval(input("請輸入分子："))
denominator = eval(input("請輸入分母："))
if denominator!=0:
    ans = numerator/denominator
    print(numerator,"/",denominator,"=",ans)
else:
    print("分母不可為0")
print("Over")

請輸入分子：125
請輸入分母：25
125 / 25 = 5.0
Over

In [21]:
numerator = eval(input("請輸入分子："))
denominator = eval(input("請輸入分母："))
if denominator!=0:
    ans = numerator/denominator
    print(numerator,"/",denominator,"=",ans)
else:
    print("分母不可為0")
print("Over")

請輸入分子：125
請輸入分母：0
分母不可為0
Over

In [27]:
number = eval(input("Please input a number："))
if number%2==0:
    print(number,"is an even number.")
else:
    print(number,"is an odd number.")
print("Over")

Please input a number：88
88 is an even number.
Over

In [28]:
number = eval(input("Please input a number："))
if number%2==0:
    print(number,"is an even number.")
else:
    print(number,"is an odd number.")
print("Over")

Please input a number：89
89 is an odd number.
Over

In [29]:
number = eval(input("Please input a number："))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number：20
20 is greater than 0
Over

In [30]:
number = eval(input("Please input a number："))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number：10
10 is greater than 0
Over

In [31]:
number = eval(input("Please input a number："))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number：0
0 is equal to 0
Over

In [9]:
number = eval(input("Please input a number："))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal to 0")
print("Over")

Please input a number：20
20 is greater than 0
Over

In [38]:
score = eval(input("Please input a score："))
if score>=80:
    print("Grade A")
elif score>=70:
        print("Grade B")
elif score>=60:
        print("Grade C")
elif score>=50:
        print("Grade D")
elif score>=40:
        print("Grade E")

Please input a score：86
Grade A

In [37]:
score = eval(input("Please input a score："))
if score>=80:
    print("Grade A")
elif score>=70:
        print("Grade B")
elif score>=60:
        print("Grade C")
elif score>=50:
        print("Grade D")
elif score>=40:
        print("Grade E")

Please input a score：62
Grade C

In [45]:
weight = eval(input("Please input your weight(kilogram)："))
height = eval(input("Please input your height(centimeter)："))
heightInCentimeter = height/100


bmi = weight/(heightInCentimeter*heightInCentimeter)
print("Your BMI is",format(bmi,".2f"))


if bmi<18.5:
    print("Underweight")
elif bmi <25:
    print("Normal")
elif bmi <30:
    print("Overweight")
else:
    print("Obese")

Please input your weight(kilogram)：67
Please input your height(centimeter)：185
Your BMI is 19.58
Normal

In [50]:
year = eval(input("Please enter which year?"))
if year % 400 == 0 or (year % 4 == 0 and year % 100!=0):
    print(year,"is leap year")
else:
    print(year,"is not leap year")

Please enter which year?2020
2020 is leap year

In [10]:
year = eval(input("Please enter which year?"))
cond1 = year % 400==0
cond2 = year % 4==0
cond3 = year % 100!=0
if cond1 or(cond2 and cond3):
    print(year,"is leap year")
else:
    print(year,"is not leap year")

Please enter which year?2020
2020 is leap year

In [52]:
number = eval(input("Plaese enter a number:"))

if number>=0:
    print(number)
else:
    print(-number)

Plaese enter a number:-100
100

In [53]:
number = eval(input("Plaese enter a number:"))

if number>=0:
    print(number)
else:
    print(-number)

Plaese enter a number:100
100

In [54]:
score = eval(input("Please input a score："))
if score>=60:
    print('you pass')
else:
    print('you fall')

Please input a score：90
you pass

In [56]:
score = eval(input("Please input a score："))
if score>=60:
    print('you pass')
else:
    print('you fall')

Please input a score：50
you fall

In [68]:
if flag !=1:number1 = eval(input('Enter number1:'))
number2 = eval(input('Enter number2:'))


operator = input('Enter an arithmetic operator(+,-,*,/):')
result = 0
flag = 0
if operator =="+":
    result = number1+number2
elif operator =="-":
    result = number1-number2
elif operator =="*":
    result = number1*number2
elif operator =="/":
    result = number1/number2
else:
    flag = 1
    print('Invalid operator')
                
    print('%.4f%c %.4f= %.4f' %(number1,operator,number2,result))

Enter number1:88
Enter number2:66
Enter an arithmetic operator(+,-,*,/):-
88.0000- 66.0000= 22.0000

In [69]:
number1 = eval(input('Enter number1:'))
number2 = eval(input('Enter number2:'))


operator = input('Enter an arithmetic operator(+,-,*,/):')
result = 0
flag = 0
if operator =="+":
    result = number1+number2
elif operator =="-":
    result = number1-number2
elif operator =="*":
    result = number1*number2
elif operator =="/":
    result = number1/number2
else:
    flag = 1
    print('Invalid operator')
                
                
if flag !=1:
    print('%.4f%c %.4f= %.4f' %(number1,operator,number2,result))

Enter number1:100
Enter number2:200
Enter an arithmetic operator(+,-,*,/):+
100.0000+ 200.0000= 300.0000

In [11]:
age = eval(input('請輸入年齡：'))
state = ''

if age<6:
    state ='童年'
elif age <=17:
    state ='少年'
elif age <=40:
    state ='青年'
elif age <=65:
    state ='中年'
else:
    state ='老年'
    
print('您的年齡屬於%s'%state)

請輸入年齡：18
您的年齡屬於青年

In [3]:
age = eval(input('請輸入年齡：'))
state = ''

if age<6:
    state ='童年'
elif age <=17:
    state ='少年'
elif age <=40:
    state ='青年'
elif age <=65:
    state ='中年'
else:
    state ='老年'
    
print('您的年齡屬於%s'%state)

請輸入年齡：45
您的年齡屬於中年

In [8]:
day = 0
question1 ="Is your birthday in set1?\n"+\
       "1 3 5 7\n"+\
       "9 11 13 15\n"+\
       "17 19 21 23\n"+\
       "25 27 29 31\n"+\
       "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question1))


if answer ==1:
  day+=1
    
    
question2="Is your birthday in set2?\n"+\
       "2 3 6 7\n"+\
       "10 11 14 15\n"+\
       "18 19 22 23\n"+\
       "26 27 30 31\n"+\
       "\nEnter 1 for Yes and 0 for No:"
answer = eval(input(question2))


if answer==1:
    day+=2
    
    
question3="Is your birthday in set3?\n"+\
    "4 5 6 7 \n"+\
    "12 13 14 15\n"+\
    "20 21 22 23\n"+\
    "28 29 30 31\n"+\
    "\nEnter 1 for Yes and 0 for No:"
answer = eval(input(question3))


if answer==1:
    day+=4
question4 ="Is your birthday in set1?\n"+\
       "8 9 10 11\n"+\
       "12 13 14 15\n"+\
       "24 25 26 27\n"+\
       "28 29 30 31\n"+\
       "\nEnter 1 for Yes and 0 for No:"
answer = eval(input(question4))


if answer==1:
    day+=8   
question5 ="Is your birthday in set1?\n"+\
       "16 17 18 19\n"+\
       "20 21 22 23\n"+\
       "24 25 26 27\n"+\
       "28 29 30 31\n"+\
       "\nEnter 1 for Yes and 0 for No:"
answer = eval(input(question5))


if answer==1:
    day+=16
    
print("Your birthday is",day)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set2?
2 3 6 7
10 11 14 15
18 19 22 23
26 27 30 31

Enter 1 for Yes and 0 for No:0
Is your birthday in set3?
4 5 6 7
12 13 14 15
20 21 22 23
28 29 30 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set1?
8 9 10 11
12 13 14 15
24 25 26 27
28 29 30 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set1?
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31

Enter 1 for Yes and 0 for No:0
Your birthday is 13

In [1]:
count=1
while count<=100:
    print('Learning Python is fun!)
    count=count+1

SyntaxError: EOL while scanning string literal (<ipython-input-1-2cc34b18bb52>, line 3)

In [4]:
count=1
while count<=100:
    print('Learning Python is fun!')
    count = count+1

Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!

In [5]:
print('Learning Python is fun')
count = count+1

Learning Python is fun

In [8]:
total=0
total=1+2+3+4+5+6+7+8+9+10
print("1+2+3+...+10=",total)

1+2+3+...+10= 55

In [1]:
total = 0
k=1
while k <=100:
    total = total +k
    k=k+1
print('1+2+3+...+100',total)

1+2+3+...+100 5050

In [3]:
total=0
k=100
while k>=1:
    total+=k
    k-=1
print('100+99+98+...+1=%d'%(total))

100+99+98+...+1=5050

In [4]:
evenTotal=0
k=2
while k <=100:
    evenTotal=evenTotal+k
    k=k+2
print('2+4+6+8+...+100=',evenTotal)

2+4+6+8+...+100= 2550

In [6]:
for k in range(1,6):
    print(k)

1
2
3
4
5

In [7]:
for k in range(6):
    print(k)

0
1
2
3
4
5

In [8]:
for k in range(1,10,2):
    print(k)

1
3
5
7
9

In [9]:
for k in range(10,1,-1):
    print(k)

10
9
8
7
6
5
4
3
2

In [10]:
for k in range(10,1,-2):
    print(k)

10
8
6
4
2

In [11]:
for k in range(1,101):
    print('Learning Python is fun!')

Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!

In [12]:
total= 0
for i in range(1,101):
    total+=i
    print('1+2+3+...+100=',total)

1+2+3+...+100= 1
1+2+3+...+100= 3
1+2+3+...+100= 6
1+2+3+...+100= 10
1+2+3+...+100= 15
1+2+3+...+100= 21
1+2+3+...+100= 28
1+2+3+...+100= 36
1+2+3+...+100= 45
1+2+3+...+100= 55
1+2+3+...+100= 66
1+2+3+...+100= 78
1+2+3+...+100= 91
1+2+3+...+100= 105
1+2+3+...+100= 120
1+2+3+...+100= 136
1+2+3+...+100= 153
1+2+3+...+100= 171
1+2+3+...+100= 190
1+2+3+...+100= 210
1+2+3+...+100= 231
1+2+3+...+100= 253
1+2+3+...+100= 276
1+2+3+...+100= 300
1+2+3+...+100= 325
1+2+3+...+100= 351
1+2+3+...+100= 378
1+2+3+...+100= 406
1+2+3+...+100= 435
1+2+3+...+100= 465
1+2+3+...+100= 496
1+2+3+...+100= 528
1+2+3+...+100= 561
1+2+3+...+100= 595
1+2+3+...+100= 630
1+2+3+...+100= 666
1+2+3+...+100= 703
1+2+3+...+100= 741
1+2+3+...+100= 780
1+2+3+...+100= 820
1+2+3+...+100= 861
1+2+3+...+100= 903
1+2+3+...+100= 946
1+2+3+...+100= 990
1+2+3+...+100= 1035
1+2+3+...+100= 1081
1+2+3+...+100= 1128
1+2+3+...+100= 1176
1+2+3+...+100= 1225
1+2+3+...+100= 1275
1+2+3+...+100= 1326
1+2+3+...+100= 1378
1+2+3+...+100= 1431
1+2+3+...+100= 1485
1+2+3+...+100= 1540
1+2+3+...+100= 1596
1+2+3+...+100= 1653
1+2+3+...+100= 1711
1+2+3+...+100= 1770
1+2+3+...+100= 1830
1+2+3+...+100= 1891
1+2+3+...+100= 1953
1+2+3+...+100= 2016
1+2+3+...+100= 2080
1+2+3+...+100= 2145
1+2+3+...+100= 2211
1+2+3+...+100= 2278
1+2+3+...+100= 2346
1+2+3+...+100= 2415
1+2+3+...+100= 2485
1+2+3+...+100= 2556
1+2+3+...+100= 2628
1+2+3+...+100= 2701
1+2+3+...+100= 2775
1+2+3+...+100= 2850
1+2+3+...+100= 2926
1+2+3+...+100= 3003
1+2+3+...+100= 3081
1+2+3+...+100= 3160
1+2+3+...+100= 3240
1+2+3+...+100= 3321
1+2+3+...+100= 3403
1+2+3+...+100= 3486
1+2+3+...+100= 3570
1+2+3+...+100= 3655
1+2+3+...+100= 3741
1+2+3+...+100= 3828
1+2+3+...+100= 3916
1+2+3+...+100= 4005
1+2+3+...+100= 4095
1+2+3+...+100= 4186
1+2+3+...+100= 4278
1+2+3+...+100= 4371
1+2+3+...+100= 4465
1+2+3+...+100= 4560
1+2+3+...+100= 4656
1+2+3+...+100= 4753
1+2+3+...+100= 4851
1+2+3+...+100= 4950
1+2+3+...+100= 5050

In [13]:
total=0
for i in range(2,101,2):
    total+=i
    print('2+4+6+...+100=',total)

2+4+6+...+100= 2
2+4+6+...+100= 6
2+4+6+...+100= 12
2+4+6+...+100= 20
2+4+6+...+100= 30
2+4+6+...+100= 42
2+4+6+...+100= 56
2+4+6+...+100= 72
2+4+6+...+100= 90
2+4+6+...+100= 110
2+4+6+...+100= 132
2+4+6+...+100= 156
2+4+6+...+100= 182
2+4+6+...+100= 210
2+4+6+...+100= 240
2+4+6+...+100= 272
2+4+6+...+100= 306
2+4+6+...+100= 342
2+4+6+...+100= 380
2+4+6+...+100= 420
2+4+6+...+100= 462
2+4+6+...+100= 506
2+4+6+...+100= 552
2+4+6+...+100= 600
2+4+6+...+100= 650
2+4+6+...+100= 702
2+4+6+...+100= 756
2+4+6+...+100= 812
2+4+6+...+100= 870
2+4+6+...+100= 930
2+4+6+...+100= 992
2+4+6+...+100= 1056
2+4+6+...+100= 1122
2+4+6+...+100= 1190
2+4+6+...+100= 1260
2+4+6+...+100= 1332
2+4+6+...+100= 1406
2+4+6+...+100= 1482
2+4+6+...+100= 1560
2+4+6+...+100= 1640
2+4+6+...+100= 1722
2+4+6+...+100= 1806
2+4+6+...+100= 1892
2+4+6+...+100= 1980
2+4+6+...+100= 2070
2+4+6+...+100= 2162
2+4+6+...+100= 2256
2+4+6+...+100= 2352
2+4+6+...+100= 2450
2+4+6+...+100= 2550

In [1]:
total=0
number=0
while True:
    number+=1
    total+=number
    if total>100:
        break
print('The number is',number)
print('Total is',total)

The number is 14
Total is 105

In [2]:
total=0
number=1
while number<=100:
    if number % 5==0:
        number+=1
        continue
    total+=number
    number+=1
print('the Total is',total)

the Total is 4000

In [3]:
total=0
number=0
while True:
    number+=2
    total+=number
    if total>=1000:
        break
print('The number is',number)
print('Total is',total)

The number is 64
Total is 1056

In [6]:
total=0
number=0
while number<=100:
    number+=1
    if number % 5!=0:
        continue
    total+=number
print('the Total is',total)

the Total is 1050

In [10]:
total=0
number=1
while number<=100:
    number+=1
    if number%5==0:
        break
    total+=number
print('the total is',total)

the total is 9

In [11]:
oddtotal=0
k=1
while k <=100:
    oddtotal=oddtotal+k
    k=k+2
print('1+3+5+...+99=',oddtotal)

1+3+5+...+99= 2500

In [14]:
for i in range(1,10):
    print('i=',i)
    for j in range(1,10):
        print('j=',j)
    print()

i= 1
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 2
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 3
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 4
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 5
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 6
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 7
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 8
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

i= 9
j= 1
j= 2
j= 3
j= 4
j= 5
j= 6
j= 7
j= 8
j= 9

In [15]:
i=10
j=20

print('%d*%d=%3d'%(i,j,i*j))

10*20=200

In [17]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j))

1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1= 6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1= 7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1= 8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1= 9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [18]:
for i in range(1,10):
        for j in range(1,10):
            print('%d*%d=%2d'%(i,j,i*j),end='')

1*1= 11*2= 21*3= 31*4= 41*5= 51*6= 61*7= 71*8= 81*9= 92*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=183*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=274*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=365*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=456*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=547*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=638*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=729*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [19]:
for i in range(1,10):
        for j in range(1,10):
            print('%d*%d=%2d'%(i,j,i*j),end='')
        print()

1*1= 11*2= 21*3= 31*4= 41*5= 51*6= 61*7= 71*8= 81*9= 9
2*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=18
3*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=27
4*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=36
5*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=45
6*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=54
7*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=63
8*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=72
9*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [20]:
for i in range(1,10):
        for j in range(1,10):
            print('%d*%d=%2d'%(j,i,j*i),end='')
        print()

1*1= 12*1= 23*1= 34*1= 45*1= 56*1= 67*1= 78*1= 89*1= 9
1*2= 22*2= 43*2= 64*2= 85*2=106*2=127*2=148*2=169*2=18
1*3= 32*3= 63*3= 94*3=125*3=156*3=187*3=218*3=249*3=27
1*4= 42*4= 83*4=124*4=165*4=206*4=247*4=288*4=329*4=36
1*5= 52*5=103*5=154*5=205*5=256*5=307*5=358*5=409*5=45
1*6= 62*6=123*6=184*6=245*6=306*6=367*6=428*6=489*6=54
1*7= 72*7=143*7=214*7=285*7=356*7=427*7=498*7=569*7=63
1*8= 82*8=163*8=244*8=325*8=406*8=487*8=568*8=649*8=72
1*9= 92*9=183*9=274*9=365*9=456*9=547*9=638*9=729*9=81

In [22]:
import random
random.random()

0.7253611684848769

In [23]:
random.random()

0.530233252353631

In [24]:
random.randint(1,49)

48

In [25]:
random.randint(1,38)

25

In [27]:
import random
for i in range(1,101):
        randomnumber=random.randint(1,100)
        print(randomnumber,end='')

884068100724154947715312591817594756082129392137168941754522492511557279594920912491161604031575191343186847340237512316868374284229454868714245799273969450959426546839571863972744126849425487

In [31]:
import random
evencount = 0
oddcount = 0
for i in range(1,101):
        randomnumber=random.randint(1,100)
        print(randomnumber,end='')
        if randomnumber%2==0:
            evencount+=1
oddcount=100-evencount
    
print('\\nEven number:',evencount,'\\nOdd number:',oddcount)

478284629579284918145439548882986916787576837406598888351214951235743938738100863084298010211826213756531234797539723951892191324364313276891521003857484944249927637812788868178989861673968995\nEven number: 48 \nOdd number: 52

In [43]:
import random
evencount = 0
oddcount = 0
    
for i in range(1,101):
    randomnumber=random.randint(1,100)
    if i %10==0:
        print('%5d'%(randomnumber))
    else:
            print('%5d'%(randomnumber),end='')
            if randomnumber%2==0:
                evencount+=1
oddcount=100-evencount
print('\\nEven number:',evencount,'\\nOdd number:',oddcount)

   91   24   65   84   88   46   12   57   10   46
   92    6    2   48   29   27   37   97   45   63
   98   89    6   98   65   81   45   47    1   99
   82   95    7   99   81   42   96   13   77    2
   68   18   76   48   57   15   27   80   14   67
   86   22    1   42   24   36    6    1   13   94
   19   70   92   36   27   98   63   42   19   44
   15   25  100   90   42   40   39   59   39   87
   66    6   83    9   57   40   50   76   14   44
   70   53   51   40   81   34   66   19   17   92
\nEven number: 47 \nOdd number: 53

In [44]:
number=eval(input('Please input an integer:'))
divisor=2
flag=1
while divisor<number:
        if number % divisor==0:
            #if true,number is not prime number
            flag=0
            break
        divisor+=1
if flag ==0:
        print(number,'is not prime number')
else:
        print(number,'is prime number')

Please input an integer:223
223 is prime number

In [2]:
for number in range(2,1001):
    divisor=2
    flag=1
    while divisor<=number/2:
        if number % divisor==0:
            flag=0
            break
        divisor+=1
    if flag ==1:
        print(number,end='')

2357111317192329313741434753596167717379838997101103107109113127131137139149151157163167173179181191193197199211223227229233239241251257263269271277281283293307311313317331337347349353359367373379383389397401409419421431433439443449457461463467479487491499503509521523541547557563569571577587593599601607613617619631641643647653659661673677683691701709719727733739743751757761769773787797809811821823827829839853857859863877881883887907911919929937941947953967971977983991997

In [3]:
number1=eval(input('please input an integer:'))
number2=eval(input('please input an integer:'))
gcd=1
k=2
while k <=number1 and k<=number2:
    if number1%k==0 and number2%k==0:
        gcd=k
    k+=1
print('the GCD for',number1,'and',number2,'is',gcd)

please input an integer:125
please input an integer:2525
the GCD for 125 and 2525 is 25

In [1]:
numerator1=eval(input('please input an numerator1:'))
denominator1=eval(input('please input an denominator1:'))


numerator2=eval(input('please input an numerator2:'))
denominator2=eval(input('please input an denominator2:'))


number1=numerator1*denominator2+numerator2*denominator1
number2=denominator1*denominator2


gcd=1
k=2
while k <=number1 and k<=number2:
    if number1%k==0 and number2%k==0:
        gcd=k
    k+=1
print('the GCD for',number1,'and',number2,'is',gcd)
print('%d/%d+%d/%d='%(numerator1,denominator1,numerator2,denominator2),end='')
print('%d/%d'%(number1/gcd,number2/gcd))

please input an numerator1:1
please input an denominator1:2
please input an numerator2:1
please input an denominator2:6
the GCD for 8 and 12 is 4
1/2+1/6=2/3

In [2]:
import random
for i in range(1,7):
    k=random.randint(1,49)
    print(k,end='')

19332412